main {  
    text-align: center;
    padding-top: 5.7em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 3.8em;
}

main > h1 {
    color: white;
    font-size: 1.72em;
    line-height: 1.33;
    margin-bottom: 0.75em;
}

main > p {
    color: white;
    font-size: 1em;
    line-height: 1.65;
}

@media (min-width: 960px) {
    main {
        flex: 1;
        padding: 0;
        margin-top: 7.5em;
        padding-top: 11em;
        padding-left: 1.2em;
        text-align: start;
    }
    main > h1 {
        font-size: 3.05em;
        line-height: 1.1;
        margin-bottom: 0.6em;
    }
    main > p {
        font-size: 1.01em;
    }
}