.App {
  background-color: var(--Red);
  background-image: url("./images/bg-intro-mobile.png");
  /* opacity: 0.5; */
  min-height: 100vh;
  padding-bottom: 4.1em;
}

@media (min-width: 960px) {
  .App {
    display: flex;
    padding-left: 9em;
    padding-right: 9em;
    background-image: url("./images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    padding-bottom: 0;
    /* height: 100vh; */
  }

  button {
    cursor: pointer;
  }
}
