html {
  /* ### Primary */
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);

  /* ### Accent */
  --Blue: hsl(248, 32%, 49%);

  /* ### Neutral */
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}

body {
  margin: 0;
  font-family: "Poppins";
  /* background-image: url("./design/mobile-design.jpg");
  background-repeat: no-repeat; */
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

/* @media (min-width: 960px) {
  body {
    background-image: url("./design/desktop-design.jpg");
    background-image: url("./design/active-states.jpg");
  }
} */


@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("./fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
}